/* Exercício 3.3.1
    .caixa {
    color: white;
    display: inline-block;
    line-height: 50px;
    text-align: center;
    vertical-align: top;
  }
  
  .width-and-height {
    height: 50px;
    width: 50px;
  }
  
  /* insira na classe abaixo um padding de 20px para aplicá-lo aos itens B, C e D
  .padding {
      padding: 20px;
  }
  
  /* insira na classe abaixo uma margem de 30px para aplicá-la aos itens C e D
  .margin {
      margin: 30px;
  }
  
  /* insira na classe abaixo uma borda com valor '5px solid black' para aplicá-la ao item D
  .border {
      border: 5px solid black;
  } */

/* Exercício 3.3.2
    .super-mario {
    width: 150px;
    position: absolute;
    margin-left: 50px;    
  }
  
  .goomba {
    width: 100px;
    top: 480px;
    position: absolute;
    margin-left: 70px;
  }
  
  .baloon {
    position: absolute;
    margin-left: 220px;
    z-index: 1;
    top: 300px;  
  }
  
  .speach {
    font-size: 25px;
    position: absolute;
    margin-left: 250px;
    top: 340px;
    z-index: 2;
  }
  
  .bowser {
    width: 200px;
    top: 450px;
    position: absolute;
    margin-left: 500px;
  }  */

/* Exercício 3.3.3

h1 {
    text-align: center;
}

p {
    text-align: center;
}

li:hover {
    background-color: lightsteelblue;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

ol, ul {
    text-align: center;
    list-style: none;
}

div:hover {
    border: 3px solid #c51162;
}

div:nth-of-type(1) h3{
    color: #c51162;
    font-family: serif;
    font-style: oblique;
}

div:nth-of-type(2) h3{
    color: #f9a825;
    font-family: sans-serif;
    font-style: normal;
}

div:nth-of-type(3) h3{
    color: #3d5afe;
    font-size: 24px;
    font-family: monospace;
    font-style: oblique;
}   

div:nth-of-type(4) h3{
    color: #8e0038;
    font-family: sans-serif;
    font-style: normal;
}

div:nth-of-type(5) h3{
    color: #fd558f;
    font-family: serif;
    font-style: oblique;
} */

/* Exercício 3.3.4*/
ol {
    background-color:yellow;
}

ol li:nth-child(odd){
    text-transform: uppercase;
}

ol li:nth-child(even){
    color: green;
}

h1, h3 {
    color: red;
}

h1, h3 em{
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

ul.languages li:nth-child(-n+3).java {
    color: blue;
    background-color: pink;
}

ul.allies li:hover	a[href*="stackoverflow"]{
    font-weight: bold;
    color: orange;
}

ul.allies li:hover	a[href*="w3schools"]{
    font-weight: bold;
    color: green;
}

ul.allies li:hover	a[href*="mozilla"]{
    font-weight: bold;
    color: black;
}

ul.allies li:hover	a[href*="devdocs"]{
    font-weight: bold;
    color: yellow;
}

ul.allies li:hover	a[href*="trybe"]{
    font-weight: bold;
    color: darkolivegreen;
}
