.super-mario {
    width: 150px;
    position: absolute;
    margin-left: 50px;    
}
  
.goomba {
    width: 100px;
    top: 300px;
    position: absolute;
    margin-left: 70px;
}
  
.baloon {
    position: absolute;
    margin-left: 220px;
    z-index: 1;
    top: 120px;  
}
  
.speach {
    font-size: 25px;
    position: absolute;
    margin-left: 250px;
    top: 160px;
    z-index: 2;
}
  
.bowser {
    width: 200px;
    top: 250px;
    position: absolute;
    margin-left: 500px;
}