* {
  box-sizing: border-box;
  font-family: Montserrat, sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary: rgb(41, 98, 255);
  --primaryDark: rgb(0, 57, 203);
  --light: rgb(238, 238, 238);
  --gray: rgb(223, 223, 223);
  --dark: rgb(33, 33, 33);
}

body {
  background-color: var(--gray);
}

.header {
  position: relative;
  background-color: var(--dark);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: var(--light);
}

.nav {
  width: 100%;
}

.title {
  color: var(--light);
  font-size: 25px;
  text-decoration: none;
}

.container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.title strong {
  color: var(--light);
}

.items {
  display: flex;
  flex-basis: 70%;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.item {
  background-color: white;
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 200px;
  border-radius: 10px;
  box-sizing: border-box;
}

.item .item__sku {
  display: none;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
}

.item .item__image {
  width: 100%;
  border-radius: 10px;
}

.item .item__add {
  background-color: var(--primary);
  border: 0;
  border-radius: 0px 0px 10px 10px;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: var(--light);
  font-size: 16px;
}

/* Cart and its dependencies */
.dropdown-menu {
  width: 300px;
  height: 90vh;
  padding: 30px;
  background-color: var(--light);
}

.cart__items {
  height: 74vh;
  overflow-y: scroll;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.cart_item_li {
  margin-bottom: 15px;
}

.cart_item_li:hover {
  cursor: pointer;
}

.material-icons-outlined {
  padding-right: 0;
}

.cart-counter {
  position: absolute;
  z-index: 1;
  margin-top: 8px;
  width: 28px;
  line-height: 24px;
  text-align: center;
  font-size: 16px;
  border: 2px solid var(--light);
  border-radius: 50%;
}

.btn-close-cart{
  border: none;
}

.total-price {
  text-align: center;
  margin-top: 15px;
  letter-spacing: 1.6px;
}

.empty-cart {
  width: 170px;
  height: 35px;
  margin: 10px auto;
  text-align: center;
  border: 2px solid var(--primaryDark);
  border-radius: 5px;
  background-color: var(--light);
}

.empty-cart:hover {
  color: var(--primary);
  transition: 0.2s;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--gray);
}

::-webkit-scrollbar-thumb {
  background: var(--dark);
  border-radius: 7px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primaryDark);
}